<div class="col-sm-4 mt-2 mb-4">
    <div class="card h-100">

      <p id="txt-name" class="text-center" style="font-family: 'Roboto Slab', serif;">
        {{ food.name }}</p>

      <!-- Image-div -->
      <div class="card-image text-center">
        <img
          class="image-size img-fluid"
          src="{{ food.image.url }}"
          alt="{{ food.name }}"
        />
      </div>

      <!-- Food content div -->
      <div class="card-body">
        <p class="mt-3 card-txt">{{ food.description}}</p>

        <p class="mt-3 card-txt">Preço: R${{ food.price}}</p>

        <div class="d-flex justify-content-between align-items-center">
          <!-- Delete icon -->
          <a
            class="delete-btn"
            href="{% url 'foods:delete_food' food.id %}"
            onclick="return confirm('Você tem certeza que deseja excluir este item?');"
          >
            <i class="fas fa-trash"></i>
          </a>
          <p class="mt-2 mb-0 card-footer-txt">{{food.category.category_type}}</p>
        </div>
      </div>
    </div>
  </div>